:root {
    --orange-color: #fc8a06;
    --green-color: #028643;
}

* {
    /* outline: 1px solid red; */
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.color-orange {
    color: var(--orange-color);
}

.promo,
.location {
    display: flex;
    align-items: center;
    line-height: 23px;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 37px;
}
.header-top .bascet {
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    margin-left: 72px;
    border-radius: 0 0px 15px 15px;
    color: #fff;

    span {
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1px;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    height: 100%;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 6px 24px;
}
nav ul li a.active,
nav ul li a:active {
    color: white;
    background-color: var(--orange-color);
    border-radius: 25px;
}

.login-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 60px;

    img {
        font-size: 27px;
    }
    span {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
    }
}

.hero {
    background-image: url("/assets/images/logo-removebg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 610px;
    display: flex;
    position: relative;
}

.hero-content {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.hero-content .left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-content .left p {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 66px;
}
.hero-content .left h2 {
    font-family: Poppins, sans-serif;
    font-size: 54px;
    font-weight: 600;
    line-height: 66px;
}

.search {
    display: flex;
    width: 100%;
    border: 1px solid #00000066;
    height: 57px;
    border-radius: 120px;
    overflow: hidden;
}

.search input {
    all: unset;
    padding-left: 20px;
    width: 100%;
}

.search .btn {
    background-color: var(--orange-color);
    width: 200px;
    border-radius: 120px;
    color: #fff;
    transform: translate(60px);
    transition: all 0.5s ease;
}
.search .btn:hover {
    transform: translate(0px);
}
.search .btn i {
    font-size: large;
}
.search .btn span {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.search .btn:hover span {
    opacity: 1;
    visibility: visible;
}

.hero-content .right {
    margin-top: 45px;
    width: 30%;
    height: 100%;
    border-radius: 50% 0 0 0;
    background-color: var(--orange-color);
    display: flex;
    flex-direction: column;
}
.hero-content .right .list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}
.hero-content .right .order-item {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    width: 90%;
    margin: 20px;
    opacity: 0;
    transform: translateX(100%);
    animation: fadeIn 1s forwards;
}
.hero-content .right .order-item:nth-child(1) {
    animation: fadeIn 1s forwards 0s;
}
.hero-content .right .order-item:nth-child(2) {
    animation: fadeIn 1s forwards 0.5s;
}
.hero-content .right .order-item:nth-child(3) {
    animation: fadeIn 1s forwards 1s;
}

@keyframes moveOrder {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(-10px);
    }
}
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.hero-content .right .order-item .num {
    animation: moveOrder 3s infinite alternate;
    font-size: 80px;
    font-weight: bold;
    color: transparent;
    text-align: end;
    -webkit-text-stroke: 2px white;
}
.hero-content .right .order-item .item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    justify-content: flex-start;
}
.hero-content .right .order-item .item .head {
    display: flex;
    justify-content: space-between;
}

.deals {
    margin: 53px 30px 0;
}
.deals .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.deals .header h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.deals .header .tabs {
    display: flex;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.deals .header .tabs .tab {
    border: 1px solid transparent;
    padding: 10px 30px;
    cursor: pointer;
}
.deals .header .tabs .tab.active,
.deals .header .tabs .tab:active {
    border: 1px solid var(--orange-color);
    border-radius: 25px;
    color: var(--orange-color);
}
.deals .header .tabs .tab:hover {
    color: var(--orange-color);
}

.deals-content {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.deals-content .deal {
    background-size: cover;
    position: relative;
    width: 100%;
    height: 325px;
    border-radius: 12px;
    overflow: hidden;
}
.deals-content .deal img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.deals-content .deal .discount {
    position: absolute;
    background: #03081f;
    border-radius: 0 0 10px 10px;
    color: #fff;
    padding: 15px;
    top: 0;
    right: 20px;
    z-index: 2;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}
.deals-content .deal .desc {
    position: absolute;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    font-family: Poppins, sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 60px 30px 60px -22px inset,
        rgba(0, 0, 0, 0.3) 180px 30px 56px -28px inset;
}
.deals-content .deal .desc p {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: var(--orange-color);
}
.deals-content .deal .desc h3 {
    font-size: 24px;
    font-weight: 700;
}

.popular-categories {
    margin: 53px 30px 0;
    display: flex;
    flex-direction: column;
}
.popular-categories h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.popular-categories .categories {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.popular-categories .categories .category {
    width: calc((100% - (20px * 4)) / 5);
    height: 266px;
    border-radius: 12px;
    border: 1px solid #0000001a;
    overflow: hidden;
    flex-shrink: 0;
}
.popular-categories .categories .category img {
    width: 100%;
    height: 203px;
    object-fit: cover;
}
.popular-categories .categories .category .footer {
    padding: 10px 22px;
}
.popular-categories .categories .category .footer h3 {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}
.popular-categories .categories .footer p {
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    color: var(--orange-color);
}

.popular-restaurants {
    margin: 53px 30px 0;
    display: flex;
    flex-direction: column;
}
.popular-restaurants .header h2 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}
.popular-restaurants .restaurants {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}
.popular-restaurants .restaurants .cart {
    width: calc((100% - (20px * 4)) / 5);
    height: 266px;
    border-radius: 12px;
    border: 1px solid #00000033;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-wrap: wrap;
}
.popular-restaurants .restaurants .cart img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
}
.popular-restaurants .restaurants .cart .footer {
    z-index: 10;
    background-color: var(--orange-color);
    color: #fff;
    width: 100%;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

/* footer {
    margin-top: 30px;
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
} */

.burger {
    display: none;
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
}
.personalised {
    overflow: hidden;
    padding-top: 64px;
    margin-bottom: 64px;
    height: 511px;
    position: relative;
    border-radius: 10px;

    .bg {
        border-radius: 10px;
        position: absolute;
        z-index: -10;

        margin-top: 40px;
        height: 100%;
        width: 100%;
        background-color: #ececeb;
    }
}
.personalised .left {
    position: absolute;
    left: 0;
    /* top: 40px; */
    width: 50%;

    img {
        width: 100%;
        height: 100%;
        filter: drop-shadow(0 -6mm 4mm rgb(89, 86, 90));
    }
}
.personalised .right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    margin-right: 100px;

    .header {
        background-color: #03081f;
        padding: 3px 53px 3px 200px;
        border-radius: 35px;

        h2 {
            font-family: Poppins;
            font-size: 54px;
            font-weight: 500;
            line-height: 81px;
            letter-spacing: -0.06em;
            color: #fff;

            span {
                color: var(--orange-color);
            }
        }
    }
}
.personalised .right .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;

    p {
        margin-top: 30px;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: -0.06em;
    }
}

.buttons-group {
    display: flex;
    gap: 2px;

    .btn {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 5px;

        min-width: max-content;
        height: 51px;
        background-color: #03081f;
        color: #fff;
        border: 0.2px solid #ffffff;
        border-radius: 10px;
        font-size: 20px;
    }
}
.footer-content {
    background: #03081F;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
    }
}

/* Медиа-запросы для адаптивности */
@media (max-width: 600px) {
    .personalised {
        display: none;
    }
    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .header-content {
        justify-content: space-between;
        gap: 20px;
    }
    .hero-content .right {
        display: none;
    }
}
@media (max-width: 768px) {
    nav ul {
        gap: 10px;
    }

    .hero-content {
        text-align: center;
    }
    .deals .header {
        flex-direction: column;
    }
    .popular-categories .categories {
        flex-direction: column;
    }
    .deals-content {
        flex-direction: column;
    }
    .popular-restaurants .restaurants {
        flex-direction: column;
    }
    .deals .header .tabs {
        justify-content: center;
    }

    .deals-content .deal {
        height: auto;
    }

    .popular-categories .categories .category,
    .popular-restaurants .restaurants .cart {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero {
        height: auto;
        padding: 20px 0;
    }

    .hero-content .left h2 {
        font-size: 36px;
    }

    .search {
        height: auto;
    }

    .search input {
        padding: 10px;
        width: 100%;
    }

    .search .btn {
        display: none;
        transform: translate(0);
        width: 100%;
        border-radius: 0;
    }

    .hero-content .right {
        width: 100%;
        margin-top: 20px;
    }

    .deals .header h2,
    .popular-categories h2,
    .popular-restaurants .header h2 {
        font-size: 24px;
    }

    .deals .header .tabs {
        font-size: 10px;
        gap: 10px;
    }
    .deals .header .tabs .tab {
        padding: 2px 5px;
    }
}
